* {
  font-family: 'Lato', sans-serif;
}

.ReactModal__Overlay  {
  background-color: rgba(000, 000, 000, 0.75) !important;
}

.modal-header {
  font-size: 18px;
  text-align: center;
}

.modal-body {
  margin: 20px 0;
}

.modal-body li p {
  margin: 5px 0;
}